html {
 font-size: 100%;
}

body {
 margin: 0;
 padding: 0;
 font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
 box-sizing: border-box;
 width: 100%;
 margin: 0 auto;
 max-width: 45rem;
 padding: 0 1rem;
 position: relative;
}

#navbar {
 box-sizing: border-box;
 height: 3rem;
 background-color: #267257;
 color: white;
 display: flex;
 flex: 1;
 align-items: center;
 justify-content: center;
 padding: 0 1rem;
}

#navbar a {
 text-decoration: none;
}

#navbar a:visited {
 color: white;
}

#navbar li {
 flex-basis: auto;
 display: flex;
 margin: 1rem;
}

#navbar ul {
 display: flex;
 flex: 1;
 margin: 0;
}

.list-container {
 margin: 2rem 0;
 padding: 0;
}

.list-container li {
 display: block;
}

.list-item-container {
 border-top: 1px solid #113E2E;
 padding: 1rem 0;
 display: flex;
 flex: 1;
 align-items: center;
}

.voting {
 display: flex;
 flex-direction: column;
 font-size: 1.5rem;
}

.list-item-detail {
 padding-left: 1rem;
}

.score-display {
  font-size: 1rem;
  text-align: center;
}

.action-button {
 position: fixed;
 bottom: 1rem;
 right: 1rem;
 background-color: #BF4B96;
 font-size: 3rem;
 display: flex;
 border-radius: 50%;
 width: 4rem;
 height: 4rem;
 align-items: center;
 justify-content: center;
}

.action-button a {
  display: flex;
  color: white;
}

.post-form {
 display: flex;
 flex-direction: column;
 flex: 1;
}

.post-body {
  padding: 1rem 0;
}

.form-item {
 box-sizing: border-box;
 font-size: 1rem;
 border: 1px solid #113E2E;
 width: 100%;
}

.form-label {
 margin-top: 1rem;
}

.form-submit-button {
 color: white;
 background: #BF4B96;
 margin-top: 1rem;
 width: 25%;
}

.inline-form-label {
 margin-top: 1rem;
 padding: 01rem;
 display: flex;
 flex: 1;
}

.inline-form-label select {
  margin-left: 1rem;
}

.title-vote {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
}

.title-vote h1 {
  padding-left: 1rem;
}

.sort-by-container {
  border-top: 1px solid #113E2E;
  padding-top: 1rem;
}
